body, html {
    height: 100%;
    margin: 0;
    font-family: 'Share Tech Mono', monospace;
    scroll-behavior: smooth;
    background-color: black;
    color: white;
  }

  .nav-black {
    background-color: black;
    opacity: 0.9;
    color: white;
  }

  .navbar-brand {
    font-size: 15px;
  }

  .section-carousel img {
    height: 600px;
  }

  .carousel-caption {
    top: 30%;
  }

  .texto-perfil {
    text-align: center;
    color: black;
  }


/* fix cards width & padding on smaller screens */
  @media only screen and (max-width: 1200px) {
    .card-proyectos .card {
      width: 200px;
    }
    }

  @media only screen and (max-width: 992px) {
    .card-proyectos .card {
      width: 150px;
    }
    }

  @media only screen and (max-width: 768px) {
    .card-proyectos .card {
      width: 250px;
    }

    .card-proyectos {
      padding-bottom: 50px;
    }

/* fix centered footer items */
    footer h1 {
      padding-left: 100px;
    }

    .section-iconos {
      padding-left: 120px;
    }
    }

/* fix carousel caption position on smaller screens */
  @media only screen and (max-width: 575px) {
    .texto-perfil {
        padding-top: 50px;
    }
    .section-formacion h3 {
      padding-bottom: 100px;
    }

/* fix centered footer items */
    footer h1 {
      padding-left: 0px;
    }

    .section-iconos {
      padding-left: 0px;
    }
    }
  
  .texto-perfil .btn {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    color: white;
    background-color: black;
    text-align: center;
    cursor: pointer;
  }
  
  .texto-perfil .btn:hover {
    background-color: white;
    color: black;
  }

  .section-formacion {
    height: auto;
    text-align: justify;
  }

  .section-proyectos {
    height: auto;
    background-color: white;
    color: black;
  }

  .card {
    background-color: black;
    color: white;
    border-color: white;
    width: 250px;
  }

  .section-contacto {
    height: auto;
  }

  .section-contacto img {
    height: 300px;
    width: 300px;
  }

  .section-contacto button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px 50px;
    color: black;
    background-color: white;
    text-align: center;
    cursor: pointer;
  }

  .section-contacto button:hover {
    background-color: black;
    color: white;
  }

  .contacto-logo {
    align-items: center;
  }

  footer {
    color: black;
    background-color: white;
    font-size: 15px;
  }

  footer h1 {
    font-size: 20px;
    text-align: center;
  }

  footer i {
    background-color: white;
    border: none;
    color: black;
    padding: 12px 5px;
    cursor: pointer;
  }

  .section-iconos {
    text-align: center;
  }